:root {
  --color-bg: #191a1e;
  --color-bg-box: #24262d;
  --color-text: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: system-ui, "Segoe UI Emoji", "Noto Color Emoji", sans-serif;
  font-size: 2rem;
  color: var(--color-text);
  background-color: var(--color-bg);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  width: 112rem;
  padding: 6rem 0;
}

h1 {
  font-weight: 600;
  font-size: 7rem;
  letter-spacing: 3px;
}

h2 {
  text-align: center;
  margin-bottom: 2.2rem;
  letter-spacing: 3px;
}

h2 span {
  font-family: "Twemoji Country Flags";
  font-size: 3.4rem;
  margin-left: 0.6rem;
  vertical-align: middle;
}

input {
  font-family: inherit;
  font-size: 2rem;
  color: inherit;
  background-color: var(--color-bg-box);
  border: none;
  padding: 1.6rem 3rem;
  width: 38rem;
}

input:focus {
  outline: 1px solid var(--color-text);
}

.weather {
  list-style: none;
  display: flex;
  gap: 2.2rem;
}

.day {
  background-color: var(--color-bg-box);
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  align-items: center;
  padding: 1.8rem 0 3.2rem;
  width: 14rem;
  gap: 1.4rem;
  cursor: pointer;
}

.day span {
  font-size: 5.2rem;
}

.day.important {
  outline: 2px solid var(--color-text);
}

.loader,
.error {
  font-size: 2.4rem;
  font-weight: 500;
}

.error {
  color: #f92222;
}
